以下がPRのdiffと指定されたファイルの中身です。なお、出力はMarkdown形式で以下のようにしてください。

出力形式
### <file>
```
<content>
```


### diff of {{ .PullRequestURL }}
```
{{ .Diff }}
```


{{ range .TargetFiles }}
### {{ .Path }}
```
{{ .Content }}
```

{{ end }}
